{% extends "layout-fullmap.html" %}

{% block after_menu %}

<div id="add-poi-box">

  <form method="post" action="{{ url_for('.save_poi') }}">

    <label>
      <span class="hidden-label">Name</span>
      <input name="name" size="10" placeholder="name"
             autocorrect="off" autocomplete="off">
    </label>

    <label>
      <span class="hidden-label">Type</span>
      <select name="amenity">
        <option>-- type --</option>
        <option value="bar">bar</option>
        <option value="cafe">cafe</option>
        <option value="cinema">cinema</option>
        <option value="fuel">fuel</option>
        <option value="pub">pub</option>
        <option value="restaurant">restaurant</option>
        <option value="nightclub">nightclub</option>
        <option value="theatre">theatre</option>
        <option value="_other">other ...</option>
      </select>
    </label>

    <input id="enter-type-manually" style="display: none"
           name="new_amenity" size="15" placeholder="enter manually"
           autocorrect="off" autocomplete="off">

    <input type="hidden" name="lat">
    <input type="hidden" name="lon">

    <input type="submit" value="save">

  </form>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
  var map = M.init_fullscreen_map();
  M.auto_toggle_enter_type_manually();
  M.enable_adding_points(map);
});
</script>
{% endblock %}
