{% extends "layout.html" %}

{% block body %}

<div id="add-poi-box">

    <form method="post" action="{{ url_for('.save_poi') }}">
      <input type="hidden" name="lat">
      <input type="hidden" name="lon">
      Name: <input name="name" size="15" autocorrect="off" autocomplete="off">
      <br>
      Choose type:
      <select name="amenity">
        <option value="none">---</option>
        <option value="bar">bar</option>
        <option value="cafe">cafe</option>
        <option value="cinema">cinema</option>
        <option value="fuel">fuel</option>
        <option value="pub">pub</option>
        <option value="restaurant">restaurant</option>
        <option value="nightclub">nightclub</option>
        <option value="theatre">theatre</option>
      </select>
      <input type="submit" value="save">
      <br>or enter another:
      <input name="new_amenity" size="15" autocorrect="off" autocomplete="off">
    </form>

</div>

<div id="map"></div>

{% endblock %}

{% block body_class %}full-screen{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  M.init_map();
  M.enable_geolocation();
  M.enable_adding_points();
  M.center_to_gps();
});
</script>
{% endblock %}
