{% extends "layout-plain.html" %}

{% block content %}

  {% if confirm %}

    <h2>Point deleted successfully</h2>

  {% else %}

    <p>Are you sure you want to delete {{ point.name }}?</p>
    <form action="{{ url_for('.delete_point', point_id=point.id) }}" method="post">
       <input type="submit" value="Yes">
       <input type="hidden" name="confirm" value="true">
    </form>
    <form action="{{ url_for('.delete_point', point_id=point.id) }}" method="post">
       <input type="submit" value="No">
    </form>

  {% endif %}

{% endblock %}
