{% extends "layout.html" %}

{% block body %}

  <div id="menu">

    <div id="links">
      <a class="login" href="{{ url_for('.login') }}">login</a>
      <a class="logout" href="{{ url_for('.logout') }}">logout</a>
      <a href="/addPOI">AddPOI</a>
      <a href="/points">Points</a>
      <a href="/">Explore</a>
    </div>

  </div>

  {% if confirm|string == "true" %}

    <h2>Point deleted successfully</h2>

  {% else %}

    <p>Are you sure you want to delete {{ point.name }}?</p>
    <form action="{{ url_for('.delete_point', point_id=point.id) }}" method="post">
       <input type="submit" value="Yes">
       <input type="hidden" name="id" value={{ point.id }} >
       <input type="hidden" name="confirm" value="true">
    </form>
    <form action="{{ url_for('.delete_point', point_id=point.id) }}" method="post">
       <input type="submit" value="No">
       <input type="hidden" name="id" value={{ point.id }} >
       <input type="hidden" name="confirm" value="false">
    </form>

  {% endif %}

{% endblock %}
