{% extends "layout-fullmap.html" %}

{% block after_menu %}
<div>
  OSM points of interest
  (<a href="/about">about</a>)
</div>

<div id="add-filter">
  <form>
    <p>Filter locations:</p>

    <label><input type="checkbox" checked
                  name="amenity" value="bar">bars</label>
    <label><input type="checkbox" checked
                  name="amenity" value="pub">pubs</label>
    <label><input type="checkbox" checked
                  name="amenity" value="cafe">cafes</label><br>
    <label><input type="checkbox" checked
                  name="amenity" value="nightclub">nightclubs</label>
    <label><input type="checkbox" checked
                  name="amenity" value="restaurant">restaurants</label><br>
    <label><input type="checkbox" checked
                  name="amenity" value="theatre">theatres</label>
    <label><input type="checkbox" checked
                  name="amenity" value="cinema">cinemas</label><br>
    <label><input type="checkbox" checked
                  name="amenity" value="fuel">fuel stations</label><br>

    <input type="submit" value="Apply Filter">

  </form>
</div>

<div id="search-box">
  <form>
    <input type="search" size="20" name="name"
           autocorrect="off" autocomplete="off"
           placeholder="enter location name">
    <input type="submit" value="Find">
  </form>
</div>

<div id="message">
  Point not found.
</div>

<div id="homepage-buttons">
  <form>
    <input type="button" value="Search">
    <input type="button" value="Filter">
  </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
  $('div#add-filter').bind('touchstart', function(evt) {
      evt.stopPropagation();
  });

  var map = M.init_fullscreen_map();
  var collection = map.new_markers_collection("Locations");
  var point_data = {{ point_data|tojson|safe }};

  show_points(point_data);

  $('#add-filter form').submit(function(evt) {
    evt.preventDefault();
    $('#add-filter').hide();
    var form_data = {
      amenity: $('input[name=amenity]:checked', this).map(function(n, i) {
        return $(i).val();
      })
    };

    collection.empty();
    show_points(M.apply_filter(form_data, point_data));
  });

  $('#search-box form').submit(function(evt) {
    evt.preventDefault();
    var form_data = {name: $('input[name=name]', this).val()};
    var found_points = M.find_point(form_data, point_data);
    if (found_points.length) {
      collection.empty();
      show_points(found_points);

      if (found_points.length == 1) {
        $.each(found_points, function(i, point) {
          map.olmap.panTo(M.project(new OpenLayers.LonLat(point['longitude'],
                                                          point['latitude'])));
        });
      }

    }
  });

  $('#homepage-buttons input[value=Search]').click(function(evt) {
    $('#search-box').toggle();
    $('#message').hide();
    $('#add-filter').hide();
  });

  $('#homepage-buttons input[value=Filter]').click(function(evt) {
    $('#add-filter').toggle();
    $('#search-box').hide();
    $('#message').hide();
  });

  function show_points(points_list) {
    $.each(points_list, function(i, point_info) {
      M.show_location(map, collection, point_info);
    });
  }
});
</script>
{% endblock %}
