{% extends "layout-fullmap.html" %}

{% block after_menu %}
<div>
  OSM points of interest
  (<a href="/about">about</a>)
</div>

<div id="add-filter">
  <form>
    <p>Filter locations:</p>

    <label><input type="checkbox" checked name="bar">bars</label>
    <label><input type="checkbox" checked name="pub">pubs</label>
    <label><input type="checkbox" checked name="cafe">cafes</label><br>
    <label><input type="checkbox" checked name="nightclub">nightclubs</label>
    <label><input type="checkbox" checked name="restaurant">restaurants</label><br>
    <label><input type="checkbox" checked name="theatre">theatres</label>
    <label><input type="checkbox" checked name="cinema">cinemas</label><br>
    <label><input type="checkbox" checked name="fuel">fuel stations</label><br>

    <input type="button" value="Apply Filter" onClick="$('#add-filter').hide();
                                                       add_filter(this.form);">

  <form>
</div>

<div id="search-box">
  <form>
    <input type="search" size="20" autocorrect="off" autocomplete="off"
                                   placeholder="enter location name">
    <input type="button" value="Find" onClick="search(this.form);">
  <form>
</div>

<div id="message">
  Point not found.
</div>

<div id="homepage-buttons">
  <form>
    <input type="button" value="Search" onClick="$('#search-box').toggle();
                                                 $('#message').hide();
                                                 $('#add-filter').hide();"><br>
    <input type="button" value="Filter" onClick="$('#add-filter').toggle();
                                                 $('#search-box').hide();
                                                 $('#message').hide();">
  </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
  $('div#add-filter').bind('touchstart', function(evt) {
      evt.stopPropagation();
  });

  var map = M.init_fullscreen_map();
  var collection = map.new_markers_collection("Locations");
  var point_data = {{ point_data|tojson|safe }};

  show_points(point_data);

  window.add_filter = function(form_input) {
    collection.empty();
    show_points(M.apply_filter(form_input, point_data));
  };

  window.search = function(form_input) {
    var found_points = M.find_point(form_input, point_data);
    if (found_points.length) {
      collection.empty();
      show_points(found_points);

      if (found_points.length == 1) {
        $.each(found_points, function(i, point) {
          map.olmap.panTo(M.project(new OpenLayers.LonLat(point['longitude'],
                                                          point['latitude'])));
        });
      }

    }
  };

  function show_points(points_list) {
    $.each(points_list, function(i, point_info) {
      M.show_location(map, collection, point_info);
    });
  }
});
</script>
{% endblock %}
