{% extends "layout.html" %}

{% block body %}

<div style="height: 100%; overflow: auto;">

<h2>About</h2>

  <p>OsmPoint is a simple tool, written mainly in Python, that helps you create
     and explore points of interest from <a href="http://www.openstreetmap.org">
     OpenStreetMap</a>.</p>
  <p>On the homepage you can browse through the bars, coffee shops, restaurants,
     nightclubs, theaters and gas stations in Bucharest.</p>
  <p>To add a POI, just let your GPS track your current position, mark the
     exact spot, enter a name and a type of location, and send it. An admin
     will approve it in no time and submit it to OpenStreetMap.</p>

<h2>Developers</h2>

  <ul style="font-size: 16px;">
    <li>Alex Morega</li>
    <li>Camelia Groza</li>
  </ul>

<h2>Source</h2>

  <p>OsmPoint is an open source project. You can find the code on
        <a href='https://github.com/pybucuresti/OsmPoint'>Github</a>.</p>

<br><br>
</div>
{% endblock %}
