<html>

  <head>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width">
    <title>OsmPoint</title>
    {% block extra_head %}{% endblock %}
  </head>

  <body class="{% if g.user %}logged-in {% else %}not-logged-in {% endif %}
               {%- block body_class -%}{%- endblock %}">

     <div id="menu">
       <a href="/">Explore</a>
       <a href="/addPOI">AddPOI</a>
       <a href="/points">Points</a>
       <a class="login" href="{{ url_for('.login') }}">Login</a>
       <a class="logout" href="{{ url_for('.logout') }}">Logout</a>
       <a href="/about">About</a>
     </div>

    {% block body %}{% endblock %}
  </body>

  <script>window.M = {config: {
        logged_in: {{ (True if g.user else False)|tojson|safe }},
        is_admin: {{ (True if is_admin else False)|tojson|safe }},
        marker_image_src: {{ url_for('static',
            filename='marker/crosshair.png')|tojson|safe }},
        poi_marker: {{ url_for('static',
             filename='openlayers/img/marker.png')|tojson|safe }}
    }};
  </script>

  <script src="{{ url_for('static', filename='js/jquery-1.5.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='openlayers/OpenLayers-full.js') }}"></script>
  <script src="{{ url_for('static', filename='js/frontend.js') }}"></script>

  {% block scripts %}{% endblock %}

</html>
