<!doctype html>
<html>

  <head>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width">
    <title>OsmPoint</title>
    {% block extra_head %}{% endblock %}
  </head>

  <body class="{%- block body_class -%}{%- endblock %}">

    {%- macro menu() %}
    <a href="/">Explore</a>
    <a href="/addPOI">Add</a>
    <a href="/points">List</a>
    {% if g.user %}
    <a href="{{ url_for('.logout') }}">Logout</a>
    {% else %}
    <a href="{{ url_for('.login') }}">Login</a>
    {% endif %}
    <span id="debug-button-container"></span>
    {% endmacro -%}

    {%- block body %}{% endblock -%}

  </body>

  <script>window.M = {config: {
        logged_in: {{ (True if g.user else False)|tojson|safe }},
        is_admin: {{ (True if is_admin else False)|tojson|safe }},
        marker_image_src: {{ url_for('static',
            filename='marker/crosshair.png')|tojson|safe }}
    }};
  </script>

  <script src="{{ url_for('static', filename='js/jquery-1.5.2.min.js') }}"></script>
  {% if config['FULL_OPENLAYERS'] %}
  <script src="{{ url_for('static', filename='openlayers/OpenLayers-full.js') }}"></script>
  <script>OpenLayers._getScriptLocation=function(){return"/static/openlayers/";};</script>
  {% else %}
  <script src="{{ url_for('static', filename='openlayers/OpenLayers.js') }}"></script>
  {% endif %}
  <script src="{{ url_for('static', filename='js/frontend.js') }}"></script>
  {%- if config['DEBUG'] %}
  <script src="{{ url_for('static', filename='js/debug.js') }}"></script>
  {% endif -%}

  <script>
    M.config['generic_icon'] = M.new_icon({{ url_for('static',
      filename='openlayers/img/marker.png')|tojson|safe }}, 21, 25, 'bottom');
  </script>

  {% block scripts %}{% endblock %}

</html>
