{% extends "layout-plain.html" %}

{% block content %}

<h1>Log in with OpenID</h1>

{% if error %}
  <p class="error"><strong>Error:</strong> {{ error }}</p>
{% endif %}

<form method="post">
  <input type="hidden" name="openid"
         value="https://www.google.com/accounts/o8/id">
  <input type="hidden" name="next" value="{{ next }}">
  <p>
    Information entered via this website is submitted to OpenStreetMap using
    the <a href="http://www.osmfoundation.org/wiki/License/Contributor_Terms"
    >contributor terms</a>.
  </p>
  <p>
    If you agree, <input type="submit" value="sign in">
    with your Google account.
  </p>
</form>

{% endblock %}
