{% extends "layout.html" %}

{% block body %}

<h1>Log in with OpenID</h1>
<form action="" method=post>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
  <p>
    <p>
      Sign in <a class="google-openid">with your Google account</a>
      or <a class="manual-openid">enter OpenID manually</a>.
    </p>
    <input type=text name=openid size=30 style="display: none;">
    <input type=submit value="Sign in">
    <input type=hidden name=next value="{{ next }}">
</form>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-1.5.2.js') }}"></script>
<script>
  $('a.google-openid').attr('href', '#').click(function(evt) {
    evt.preventDefault();
    $('input[name=openid]').val('https://www.google.com/accounts/o8/id');
    $('form').submit();
  });
  $('a.manual-openid').attr('href', '#').click(function(evt) {
    evt.preventDefault();
    $('input[name=openid]').show();
  });
  $('form').submit(function(evt) {
    var button = $('input[type=submit]', this);
    button.attr('disabled', 'disabled').val("please wait...");
  });
</script>
{% endblock %}
