{% extends "layout-plain.html" %}

{% block content %}

<div style="height: 100%; overflow: auto;">

<h2>Submitted points</h2>

  <p>Points waiting to be checked:</p>

  <ul>
  {% for p in local_points %}
    <li>
    {{ p.name }}
    <a href="/points/{{ p.id }}">view</a>
    </li>
  {% else %}
    <li>All submitted points have been checked</li>
  {% endfor %}
  </ul>

  <p>Points sent to the OSM database:</p>

  <ul>
  {% for p in sent_points %}
    <li>
    {{ p.name }}
    <a href="/points/{{ p.id }}">view</a>
    </li>
  {% else %}
    <li>No points have been sent yet</li>
  {% endfor %}
  </ul>
  <br><br>

</div>
{% endblock %}
