{% extends "layout.html" %}

{% block body %}

<div id="menu">

  <div id="links">
    <a class="login" href="{{ url_for('.login') }}">login</a>
    <a class="logout" href="{{ url_for('.logout') }}">logout</a>
    <a href="/">Home</a>
    <a href="/points">Points</a>
    <a href="/explore">Explore</a>
  </div>

</div>
<div style="height: 100%; overflow: auto;">

<h2>Submitted points</h2>
  <p>Points that need to be checked:</p>

  <ul>
  {% for p in local_points %}
    <li>
    {{ p.name }} added by {{ p.user_open_id }}
    <a href="/points/{{ p.id }}">view</a>
    </li>
  {% else %}
    <li>All submitted points have been checked</li>
  {% endfor %}
  </ul>

  <p>Points sent to OSM database:</p>

  <ul>
  {% for p in sent_points %}
    <li>
    {{ p.name }} added by {{ p.user_open_id }}
    <a href="/points/{{ p.id }}">view</a>
    </li>
  {% else %}
    <li>No points have been sent yet</li>
  {% endfor %}
  </ul>
  <br><br>

</div>
{% endblock %}
