{% extends "layout-plain.html" %}

{% block body_class %}poi-page{% endblock %}

{% block content %}

<br>

{% if is_admin %}

    <div id="edit-poi-box" onLoad="document.form.amenity">
      <form method="post" action="{{ url_for('.edit_point',
                                     point_id=point.id) }}">
        <input type="hidden" name="lat" value="{{ point.lat }}">
        <input type="hidden" name="lon" value="{{ point.lon }}">
        <input type="hidden" name="id" value="{{ point.id }}">
        Name: <input name="name" size="15" value="{{ point.name }}"
               autocorrect="off" autocomplete="off"><br>
        Type:
        <select name="amenity">
          <option value="_other">other ...</option>
          <option value="bar">bar</option>
          <option value="cafe">cafe</option>
          <option value="cinema">cinema</option>
          <option value="fuel">fuel</option>
          <option value="pub">pub</option>
          <option value="restaurant">restaurant</option>
          <option value="nightclub">nightclub</option>
          <option value="theatre">theatre</option>
        </select>
        <input type="submit" value="save"><br>
        <input name="new_amenity" size="10" value="{{ point.amenity }}"
               autocorrect="off" autocomplete="off">
      </form>

      {% if not point.osm_id %}

      <form action="{{ url_for('.send_point', point_id=point.id) }}" method="post">
        <input type="submit" value="submit">
        <input type="hidden" name="id" value={{ point.id }} >
      </form>

      {% endif %}

      <form action="{{ url_for('.delete_point', point_id=point.id) }}" method="post">
        <input type="submit" value="delete">
        <input type="hidden" name="id" value={{ point.id }} >
        <input type="hidden" name="confirm" value="none">
      </form>

    </div>

{% else %}

    <div id="info">
      Name: {{ point.name }}<br>
      Type: {{ point.amenity }}<br>
    </div>

{% endif %}

{% if point.osm_id %}
<p>
  In OSM database:
  <a href="http://{{ config['OSM_API'] }}/browse/node/{{ point.osm_id }}">
    {{- point.osm_id }}</a>
</p>
{% endif %}

<div id="map"></div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
    var map = M.init_map();
    M.show_one_point(map, {{ point.lon|tojson }},
                          {{ point.lat|tojson }});

    if($('#edit-poi-box').length > 0) {
      M.enable_editing_point(map);
    }
  });
</script>
{% endblock %}

