{% extends "layout.html" %}

{% block body %}

<div id="menu">

  <div id="links">
    <a class="login" href="{{ url_for('.login') }}">login</a>
    <a class="logout" href="{{ url_for('.logout') }}">logout</a>
  </div>

  {% if is_admin %}

  <div id="add-poi-box" onLoad="document.form.amenity">
    <form method="post" action="{{ url_for('.edit_point',
                                   point_id=point.id) }}">
      <input type="hidden" name="lat" value="{{ point.lat }}">
      <input type="hidden" name="lon" value="{{ point.lon }}">
      <input type="hidden" name="id" value="{{ point.id }}">
      Name: <input name="name" size="15" value="{{ point.name }}"><br>
      Type:
      <select name="amenity">
        <option value={{ point.amenity|string }}>{{ point.amenity|string }}</option>
        <option value="bar">bar</option>
        <option value="cafe">cafe</option>
        <option value="fuel">fuel</option>
        <option value="pub">pub</option>
        <option value="restaurant">restaurant</option>
        <option value="nightclub">nightclub</option>
      </select>
      <input type="submit" value="save">
    </form>
  </div>

  <div id="delete-submit">
    <form action="{{ url_for('.send_point', point_id=point.id) }}" method="post">
       <input type="submit" value="submit">
       <input type="hidden" name="id" value={{ point.id }} >
     </form>

     <form action="{{ url_for('.delete_point', point_id=point.id) }}" method="post">
       <input type="submit" value="delete">
       <input type="hidden" name="id" value={{ point.id }} >
       <input type="hidden" name="confirm" value="none">
     </form>
  </div>

  {% else %}

  Name:<br>{{ point.name }}<br>
  Type:<br>{{ point.amenity }}<br>

  {% endif %}

</div>

<div id="map"></div>

{% endblock %}

{% block scripts %}
<script>
  lon = {{ point.longitude }}
  lat = {{ point.latitude }}

  $(document).ready(function() {
    M.init_map();
    M.center_to_coordinates(lon, lat);

    {% if is_admin %}
      M.enable_editing_point(lon, lat);
      M.enable_adding_points();
    {% endif %}

  });
</script>
{% endblock %}

