html, body {
  margin: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

div#menu {
  padding: 3px;
  font-size: 21px;
  border: 1px solid #bbb;
}

div#menu a, div#menu a:visited {
  margin: 5px;
  color: #05b;
  font-weight: bold;
}

/* full-page map layout */
body.full-screen div#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body.full-screen div#menu {
  position: absolute;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.7);
}

/* form to add POI */
body.poi-page div#map {
  width: 250px;
  height: 250px;
  border: 2px solid #bbb;
}

div#add-poi-box {
  font-size: 18px;
  display: none;
}

div#add-poi-box form {
  margin: 0;
}

div#info {
  display: block;
  margin: 0;
}

div#add-filter {
  display: none;
}

div#search-box {
  display: none;
}

div#message {
  display: none;
}

div#homepage-buttons {
  position: fixed;
  right: 10px;
  bottom: 40px;
}

span.hidden-label {
  display: none;
}

div.poi-selected {
  outline: 2px solid #7b8;
}

/* adjust map controls (http://openlayers.org/dev/examples/style.mobile.css) */
div.olControlZoomPanel {
  height: 108px
  width: 36px;
  position: absolute;
  top: auto;
  bottom: 150px;
  left: 10px;
}
div.olControlZoomPanel div {
  width: 36px;
  height: 36px;
  background-image: url(mobile-zoombar.png);
  left: 0;
}
div.olControlZoomPanel .olControlZoomInItemInactive {
  top: 0;
  background-position: 0 0;
}
div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
  top: 36px;
  background-position: 0 -36px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive {
  top: 72px;
  background-position: 0 -72px;
}

div.olControlAttribution {
  bottom: 15px;
}

div.center-to-gps-control {
  width: 36px;
  height: 36px;
  background-image: url(satellite.png);
  position: absolute;
  bottom: 160px;
  left: 10px;
}

div.center-to-gps-control div {
  width: 36px;
  height: 36px;
  cursor: pointer;
}
