html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* default layout - small menu showing links */
div#menu {
  height: 30px;
  padding: 3px;
  overflow: hidden;
  background: #8a6;
  font-size: 16pt;
}

div#map {
  background: #aaa;
}

/* the menu-add layout - big form at the top */
body.menu-form div#menu { height: 110px; }
body.menu-form div#map { top: 110px; }

/* hide one of the login/logout links */
body.logged-in a.login { display: none; }
body.not-logged-in a.logout { display: none; }

/* menu buttons */
div#menu a, div#menu a:visited {
  margin: 5px;
  color: #05b;
  font-weight: bold;
  text-decoration: none;
}

/* form to add POI */
div#add-poi-box {
  display: none;
  margin: 0;
}

div#edit-form {
  display: none;
  margin: 0;
}

div#info {
  display: block;
  margin: 0;
}

body.poi-page div#map { position: absolute;  top: 36px; right: 0;
                         height: 300px; width: 300px; }
body.poi-page div#menu { position: absolute; right: 0px; left: 0; }
body.poi-page div#edit-form { position: absolute; top: 36px; left: 0; }

body.home-page div#map { top: 30px; right: 0; bottom: 0; left: 0; }
