html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* default layout - small menu showing links */
div#menu {
  height: 1.3em;
  overflow: hidden;
  background: #8a6;
}

div#map {
  position: absolute;
  top: 1.3em; bottom: 0; left: 0; right: 0;
  background: #aaa;
}

/* the menu-add layout - big form at the top */
body.menu-form div#menu { height: 1.6em; }
body.menu-form div#map { top: 1.6em; }

/* hide one of the login/logout links */
body.logged-in a.login { display: none; }
body.not-logged-in a.logout { display: none; }

/* form to add POI */
div#add-poi-box {
  display: none;
  margin: 0;
}
