<html><body>
  <div id="demoMap">Loading coordinates...</div>
  <script src="static/js/jquery-1.5.2.js"></script>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    window.navigator.geolocation.getCurrentPosition(function(position){
        $('#demoMap').empty();
        show_map_at_coordinates(position.coords)
    });

    function show_map_at_coordinates(coords) {
        var proj_wgs1984 = new OpenLayers.Projection("EPSG:4326");
        var proj_mercator = new OpenLayers.Projection("EPSG:900913");
        var center = new OpenLayers.LonLat(coords.longitude, coords.latitude);
        center = center.transform(proj_wgs1984, proj_mercator);
        var map = new OpenLayers.Map("demoMap");
        map.addLayer(new OpenLayers.Layer.OSM());
        map.setCenter(center, 15);
    }
  </script>
</body></html>
