{% extends "layout.html" %}

{% block extra_head %}
<style>
  div#login {
    display: none;
  }

  div#poi-form {
    display: none;
  }
  {% if logged_in %}
    div#poi-form { display: block; }
  {% else %}
    div#login { display: block; }
  {% endif %}
</style>
{% endblock %}

{% block menu %}
<div id="login" class="overlay">
  <a href="/login">login</a>
</div>

<div id="poi-form" class="overlay">
  <form method="post" action="/save_poi">
    <input name="lat" size="5">
    <input name="lon" size="5"><br>
    Name:<br><input name="name"><br>
    Website:<br><input name="url"><br>
    <select name="amenity">
      <option value="none">type</option>
      <option value="bar">bar</option>
      <option value="cafe">cafe</option>
      <option value="fuel">fuel</option>
      <option value="pub">pub</option>
      <option value="restaurant">restaurant</option>
      <option value="nightclub">nightclub</option>
    </select><br>
    <input type="submit" value="save">
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  M.init_map();
  M.center_to_gps();
  M.enable_adding_points();
});
</script>
{% endblock %}
