<html>

<head>
  <style>

    body {
      margin: 0;
    }

    div.overlay {
      z-index: 1000;
      position: fixed;
      top: 0;
      right: 0;
      background: white;
      border: 1px solid black;
    }

    div#login {
      display: none;
    }

    div#poi-form {
      display: none;
    }

    div#poi-form form {
      margin: 0;
    }

  {% if logged_in %}
    div#poi-form { display: block; }
  {% else %}
    div#login { display: block; }
  {% endif %}

  </style>

  <meta name="viewport" content="width=device-width">

</head>

<body>

<div id="map">Loading map...</div>

<script src="static/js/jquery-1.5.2.js"></script>
<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script>

$(function() {
  window.M = {};
  $('#map').empty();
  M.proj_wgs1984 = new OpenLayers.Projection("EPSG:4326");
  M.proj_mercator = new OpenLayers.Projection("EPSG:900913");
  M.project = function(point) {
    return point.clone().transform(M.proj_wgs1984, M.proj_mercator);
  };
  M.map = new OpenLayers.Map({
    'div': "map",
    'controls': [
      new OpenLayers.Control.Navigation(),
      new OpenLayers.Control.ZoomPanel(),
      new OpenLayers.Control.Attribution()
    ]});
  M.map.addControl(new OpenLayers.Control.TouchNavigation({
    'dragPanOptions': {'enableKinetic': true}
  }));
  M.map.addLayer(new OpenLayers.Layer.OSM());
  M.map.setCenter(M.project(new OpenLayers.LonLat(26.10, 44.43)), 13);
});

$(function() {
  window.navigator.geolocation.getCurrentPosition(function(position){
      var lon = position.coords.longitude, lat = position.coords.latitude;
      var center = new OpenLayers.LonLat(lon, lat);
      M.map.setCenter(M.project(center), 16);
      $('#poi-form form input[name=lat]').val(lat);
      $('#poi-form form input[name=lon]').val(lon);
  });
});

</script>

<div id="login" class="overlay">
  <a href="/login">login</a>
</div>

<div id="poi-form" class="overlay">
  <form method="post" action="/save_poi">
    <input name="lat" size="5">
    <input name="lon" size="5"><br>
    <input name="name"><br>
    <input type="submit" value="save">
  </form>
</div>

</body>
</html>
