<html>
<body>
  <h2>Submitted points</h2>
  <p>Points that need to be checked:</p>
  <ul>
  {% for p in local_points %}
    <li>
    {{ p.name }} added by {{ p.user_open_id }}
    <a href="/view?id={{ p.id }}">view</a>
    </li>
  {% else %}
    <p>All submitted points have been checked</p>
  {% endfor %}
  </ul>
  <p>Points sent to OSM database:</p>
  <ul>
  {% for p in sent_points %}
    <li>
    {{ p.name }} added by {{ p.user_open_id }}
    <a href="/view?id={{ p.id }}">view</a>
    </li>
  {% else %}
    <p>No points have been sent yet</p>
  {% endfor %}
  </ul> 
  <a href="/">Home</a>
</body>
</html>
